body{
    margin: 0;
    padding: 0;
    background-color: #023021;
    
}

.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > *{
    margin: 0;
    padding: 0;
    flex: 1 100%;
    
}

.wrapper p{
    color: rgb(6, 175, 34);
    font-size: 30px;
    font-weight: bold;
}

.header{
    background-color: white;
    height: 100px;
}

.main{
    position: relative;
    width: 1440px;
    height: 1024px;
}

.footer{
    background-color: white;
    text-align: center;
}


h2{
    color: rgb(5, 160, 5);
    text-align: center;
    font-size: 38px;
    padding-top: 15px;
}

.web_bar{
    background-color: white;
    height: 80px;
}

/* .column{
    background-color: white;
    border-radius: 20px;
    position: absolute;
    width: 423px;
    height: 203px;
    left: 34px;
    top: 134px;
} */

.column .card img{
    position: absolute;
    width: 123px;
    height: 123px;
    left: 54px;
    top: 40px;
}

.row{
    background-color: white;
    border-radius: 20px;
    position: absolute;
    width: 423px;
    height: 203px;
    left: 34px;
    top: 134px;
    margin-top: 30px;
}